<div class="titulo d-flex justify-content-center">
    <h2><%= titulo %></h2>
    <a href="/productos" class="btn btn-dark mx-5">Productos</a>
    <br>
</div>
<div class="container">
    <% if (hayLista) { %>
        <div class="d-flex p-2 bd-highlight flex-wrap">
            <% listaProductos.forEach((val)=> { %>
                <div class="card m-2">
                    <img src=<%= val.thumbnail %> class="card-img-top imagen" style="max-width:18rem">
                    <div class="card-body">
                        <h5 class="card-title"><%= val.title %></h5>
                        <p class="card-text"><%= val.price %></p>
                    </div>
                </div>
            <% }); %>
            </div>
    <% } else { %>
        <div class="alert alert-danger" role="alert">
            <strong>No hay productos</strong>
        </div>
    <% } %>
    </div>